<h2>Sign up</h2>
<div class="span12">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>


<div><%= f.label :location %><br />
  <%= f.text_field :location, :autofocus => true %></div>


<div><%= f.label :type %><br />
  <%= f.text_field :type, :autofocus => true %></div>


 <div><%= f.label :postcode %><br />
  <%= f.text_field :postcode, :autofocus => true %></div>


  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
<%= render "devise/shared/links" %>
