<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :location %><br />
  <%= f.text_field :location %></div>

 <div><%= f.label :restaurant_name %><br />
   <%= f.text_field :restaurant_name %></div>

 <div><%= f.label :about_the_restaurant %><br />
   <%= f.text_field :about %></div>


 <div><%= f.label :type %><br />
   <%= f.text_field :type %></div>

 <div><%= f.label :mobile_number %><br />
   <%= f.text_field :mobile_number %></div>

 <div><%= f.label :street_address %><br />
   <%= f.text_field :address %></div>


 <div><%= f.label :postcode %><br />
   <%= f.text_field :postcode %></div>



 <div><%= f.submit "Register" %></div>
<% end %>

<%= render "owners/shared/links" %>
