<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1R2yTaOIMn11b7PMqF62VkD9VTgnwOs&sensor=false"></script>
<div><h4> Restaurant Name <%= @dealowner.restaurant_name%> </h4></div>
<div>
           <h4>About the restaurant: <%= @dealowner.about %></h4>

       </div>
       <div> <h4>Location</h4>
         <div id="xyz" class='map' style="width:800px; height:200px"></div>


       </div>
  </div>

<h1>Listing menuitems</h1>

                   <div class= "row-fluid" style="border: 1px solid black; border-radius: 10px;">

                    <table>
                        <tr>
                           <th>Name</th>
                           <th>Size</th>
                           <th>Price</th>
                            <th></th>
                       </tr>

                      <% @resitems.each do |menuitem| %>
                        <tr>
                           <td><%= menuitem.name %></td> 
                           <td><%= menuitem.size %></td>
                           <td><%= menuitem.price %></td> <td>
                        </tr>
                      <% end %>
                   </table>

                </div>

  <script>
               $(document).ready(function initialize() {
               var mapOptions = {
                      center: new google.maps.LatLng(-31 , 151),
                      zoom: 20,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                   <%@lat=@dealowner.coordinates[0]  %>
                   <% @long=@dealowner.coordinates[1] %>

     var   map = new google.maps.Map(document.getElementById('xyz'), mapOptions);
                    map.setCenter(new google.maps.LatLng(<%= @long %> , <%= @lat %>));
                    var marker=new google.maps.Marker({
                       position:new google.maps.LatLng(<%= @long %> , <%= @lat %>),
                    });

                   marker.setMap(map); 
            });




                </script>


