<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1R2yTaOIMn11b7PMqF62VkD9VTgnwOs&sensor=false"></script>
<div><h4> Restaurant Name <%= @dealowner.restaurant_name%> </h4></div>
<div>
           <h4>About the restaurant: <%= @dealowner.about %></h4>

       </div>
       <div> <h4>Location</h4>
         <div id="xyz" class='map' style="width:800px; height:200px"></div>


       </div>
  </div>
<% @resdeals.each do |available| %>

           <div class= "row-fluid">
               <div class= "span8" style="border: 1px solid black; border-radius: 10px;">
                 <h4>
                       <% available.menuitems.size.times do |ms| %>
                        <%= available.menuitems[ms].name%>
                        <%= available.menuitems[ms].price%><br>
                       <% end %>
                 </h4>
               </div>
              <div class= "span4" style="border: 1px solid black; border-radius: 10px;">
                 <h4> <%= available.price %></h4>
                <%= form_tag 'userdeals', :method=> 'get' do %>
                     <%= submit_tag "getdeal", :name=>"get[#{available.id}]" %>
                   <% end %>

               </div>
          </div>
<% end %>
        <script>
               $(document).ready(function initialize() {
               var mapOptions = {
                      center: new google.maps.LatLng(-31 , 151),
                      zoom: 20,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                   <%@lat=@dealowner.coordinates[0]  %>
                   <% @long=@dealowner.coordinates[1] %>

                var   map = new google.maps.Map(document.getElementById('xyz'), mapOptions);
                    map.setCenter(new google.maps.LatLng(<%= @long %> , <%= @lat %>));
                    var marker=new google.maps.Marker({
                       position:new google.maps.LatLng(<%= @long %> , <%= @lat %>),
                    });

                   marker.setMap(map); 
            });




                </script>


