<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1R2yTaOIMn11b7PMqF62VkD9VTgnwOs&sensor=false"></script>

<h1>What would you like today? </h1>
   <%= form_tag '/browserestaurants', :method => 'get' do %>
      <br>
      I'd like: <input placeholder="italian, thai, mexican etc" autocomplete="off" type="text" name="type" data-provide="typeahead" data-source='<%= Deal.all.collect(&:type).uniq! %>'>    in: <input placeholder="Your Postcode" autocomplete="off" type="text" name="postcode" data-provide="typeahead" data-source='<%= Deal.all.collect(&:postcode).uniq! %>'>
    <%= submit_tag "Filter deals" %>
   <% end %>


<% @filter.each do |available| %>

     <% @deal="deal" + available.id %>
     <% @about="about" + available.id %>
     <% @location="locaion"+ available.id %>
     <% @other="other" + available.id %>

     <ul class="nav nav-tabs" id="mytab">
       <li class="active"><a data-toggle="tab" href="#<%= @deal %>" class="dea">Deal Details</a></li>
       <li><a data-toggle="tab" href="#<%= @about %>" >About</a></li>
       <li><a id="<%="loc" + available.id  %>" data-toggle="tab" href="#<%= @location %>" >Location</a></li>
       <li><a data-toggle="tab" href="#<%= @other %>" >Other</a></li>
    </ul>

   <div class="tab-content">
       <div class="tab-pane active" id=<%= @deal %>>
            <div class= "row-fluid">
               <div class= "span12" style="border: 1px solid black; border-radius: 10px;">
                 <div class= "span4"> 
                     <h4>
                    Restaurant Name: <%= available.restaurant_name%><br>
                 </h4>
               </div>
               <div class= "span3">
                   <%= form_tag 'browseresdeals', :method=> 'get' do %>
                     <%= submit_tag "browse restaurant deals", :name=>"get[#{available.id}]" %>
                   <% end %>

                 </div>
                 <div>
                 <%= form_tag 'browseresitems', :method=> 'get' do %>
                     <%= submit_tag "browse menu", :name=>"get1[#{available.id}]" %>
                   <% end %>
                 </div>
               </div>
                     </div>
       </div>
       <div class="tab-pane" id=<%= @about %>>
         <h3> <%= available.about %></h3>

       </div>
       <div class="tab-pane" id=<%= @location %>> 
         <% @map="map_canvas"+available.id %>
         <div id="<%= @map %>" class='map' style="width:800px; height:200px"></div>


       </div>
      <div class="tab-pane" id=<%= @other %>><h3>other text goes here</h3></div>
  </div>

<% end %>
        <script>
              var map=[];
              <% @filter.each do |available| %>
                 <% @deal="deal" + available.id %>
                 <% @about="about" + available.id %>
                 <% @location="locaion"+ available.id %>
                 <% @other="other" + available.id %>
                 $(function () {
                        $('#mytab a[href="#<%= @about %>"]').tab('show');
                        $('#mytab a[href="#<%= @location %>"]').tab('show');
                        $('#mytab a[href="#<%= @other %>"]').tab('show');
                        $('#mytab a[href="#<%= @deal %>"]').tab('show');
                 });

            <% end %>

            $(document).ready(function initialize() {
               var mapOptions = {
                      center: new google.maps.LatLng(-31 , 151),
                      zoom: 20,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                <% @filter.each do |available| %>
                   <%@lat=available.coordinates[0]  %>
                   <% @long=available.coordinates[1] %>
                   <% @location="loc" + available.id %>
                   <% @map="map_canvas"+available.id %>


                  $('<%="#"+ @location  %>').click(function (){
                    map['<%= available.id %>'] = new google.maps.Map(document.getElementById('<%= @map %>'), mapOptions);
                    map['<%= available.id %>'].setCenter(new google.maps.LatLng(<%= @long %> , <%= @lat %>));
                    var marker=new google.maps.Marker({
                       position:new google.maps.LatLng(<%= @long %> , <%= @lat %>),
                    });

                   marker.setMap(map['<%= available.id %>']); 
                   });
                <% end %>
            });




                </script>


