<div class='carousel slide over-something' id='homepage-carousel'>
              <div class='carousel-inner slider-w'>
                <div class='active item'>
                  <div class='container'>
                    <h1 class='slider-header'><strong>Food deals</strong> from your favourite restaurants</h1>
                    <h2 class='slider-sub-header'>Limited real-time deals, book a table or order pickup now</h2>
                    <div class='cta'>
                      <a href="/showdeals" class="btn btn-cta">See deals in your area</a>
                    </div>
                    <div class='slider-browsers-w clearfix'>
                      <div class='slider-browser slider-browser-left hidden-phone' data-position-bottom='-8%' style="bottom: -8%;" >
                        <img alt="Browser-window-1" src="/assets/people.png" />
                      </div>
                      <div class='slider-browser slider-browser-center' data-position-bottom='-9%' style="bottom: -9%;">
                        <img alt="Browser-window-2" src="/assets/deal.png" />
                      </div>
                      <div class='slider-browser slider-browser-right hidden-phone' data-position-bottom='-8%' style="bottom: -8%;">
                        <img alt="Browser-window-3" src="/assets/chefs-on-map.png" />
                      </div>
                    </div>

                  </div>
                </div>
                <div class='item'>
                  <div class='container'>
                    <h1 class='slider-header'>I am always on skype, feel free to ask questions.</h1>
                    <h2 class='slider-sub-header'>Maecenas fermentum sem in nunc sagittis iaculis.</h2>
                    <div class='cta'>
                      <a href="features/pricing_tables.html" class="btn btn-cta btn-warning">Some Action Button</a>
                    </div>
                    <div class='row zoomed-browsers-w'>
                      <div class='span4'>
                        <div class='zoomed-browser'>
                          <img alt="Browser-window-1" src="/assets/browser-window.png" />
                        </div>
                      </div>
                      <div class='span4'>
                        <div class='zoomed-browser hidden-phone'>
                          <img alt="Browser-window-2" src="/assets/browser-window.png" />
                        </div>
                      </div>
                      <div class='span4'>
                        <div class='zoomed-browser hidden-phone'>
                          <img alt="Browser-window-3" src="/assets/browser-window.png" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class='carousel-control left' data-slide='prev' href='#homepage-carousel'>
                <i class='icon-chevron-left'></i>
              </a>
              <a class='carousel-control right' data-slide='next' href='#homepage-carousel'>
                <i class='icon-chevron-right'></i>
              </a>
            </div>
            <div class='sub-slider-features'>
              <div class='container'>
                <div class='row-fluid span12'>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <i class='icon-money'></i>
                      <h5>Same great food, just cheaper</h5>
                      <p>Every week you get a chance to grab a great bargain from your favourite local restaurant. Don't let this opportunity slip by.</p>
                    </div>
                  </div>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <i class='icon-heart-empty'></i>
                      <h5>We'll take care of you</h5>
                      <p>Just pay 10% to confirm your deal, which comes out of the deal price. Our service is always free to you.</p>
                    </div>
                  </div>
                  <div class='span4'>
                    <div class='info-bullet'>
                      <i class='icon-gift'></i>
                      <h5>Get Rewarded</h5>
                      <p>Collect points for ordering. Then enjoy some great offers and freebies for your patronage. Ordering food never felt like this before.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <section class='section-wrapper'>
              <div class='container'>
                <div class='row-fluid'>
                  <div class='span6'>
                    <h3 class='section-header'>What people are saying</h3>
                    <div class='testimonials span12'>
                      <div class='testimonials-users row hidden-phone'>
                        <div class='span2'>
                          <a class='testimonials-user-w active' data-toggle='testimonial' href='#testimonial1'>
                            <span class='testimonials-user'><img alt="Avatar-1" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                        <div class='span2'>
                          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial2'>
                            <span class='testimonials-user'><img alt="Avatar-2" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                        <div class='span2'>
                          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial3'>
                            <span class='testimonials-user'><img alt="Avatar-4" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                        <div class='span2'>
                          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial4'>
                            <span class='testimonials-user'><img alt="Avatar-1" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                        <div class='span2'>
                          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial5'>
                            <span class='testimonials-user'><img alt="Avatar-2" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                        <div class='span2'>
                          <a class='testimonials-user-w' data-toggle='testimonial' href='#testimonial6'>
                            <span class='testimonials-user'><img alt="Avatar-4" src="/assets/test-user.png" /></span>
                          </a>
                        </div>
                      </div>
                      <div class='testimonials-speeches'>
                        <div class="testimonials-speech active" id="testimonial1">
                          <p>
                            <strong>Homer Simpson is amazing.</strong>
                            I've worked with Homer on couple of projects and i really like how lazy he is. Sleeps a lot, does not compain much, a perfect employee.
                          </p>
                          <div class="speech-by">
                            Mr. Burns, Springfield Nuclear Power Plant
                          </div>
                        </div>
                        <div class='testimonials-speech' id='testimonial2'>
                          <p>
                            <strong>Nulla gravida tellus id fermentum.</strong>
                            Phasellus aliquet lobortis dolor, vel aliquam tortor porta vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
                          </p>
                          <div class='speech-by'>
                            John Doe, Dundler Mufflin
                          </div>
                        </div>
                        <div class='testimonials-speech' id='testimonial3'>
                          <p>
                            <strong>Aliquam at sodales arcu.</strong>
                            Nulla gravida, tellus id fermentum tempus, urna elit tempus justo, a tincidunt dui lacus nec est. Maecenas ligula ipsum, suscipit quis posuere id, porttitor vitae odio. Phasellus cursus mauris nec felis sollicitudin ac semper quam hendrerit. Morbi sagittis lobortis libero id imperdiet.
                          </p>
                          <div class='speech-by'>
                            John Doe, Dundler Mufflin
                          </div>
                        </div>
                        <div class='testimonials-speech' id='testimonial4'>
                          <p>
                            <strong>Aenean purus ipsum convallis.</strong>
                            Quisque eu est ipsum. Aliquam at sodales arcu. Cras justo velit, pretium quis luctus a, posuere vitae justo. Proin porttitor ultricies justo at semper. Curabitur leo tortor, placerat ut placerat vel, tristique et ipsum. Maecenas at tellus leo, vitae pellentesque velit. Mauris ac augue magna. Vestibulum et magna at urna venenatis vehicula.
                          </p>
                          <div class='speech-by'>
                            John Doe, Solomon Inc
                          </div>
                        </div>
                        <div class='testimonials-speech' id='testimonial5'>
                          <p>
                            <strong>Maecenas id rutrum enim.</strong>
                            Pellentesque fringilla fringilla molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                          </p>
                          <div class='speech-by'>
                            John Doe, ThemeForest
                          </div>
                        </div>
                        <div class='testimonials-speech' id='testimonial6'>
                          <p>
                            <strong>Pellentesque habitant morbi tristique</strong>
                            Aenean venenatis nisi sit amet massa congue commodo. Aenean purus ipsum, convallis quis rhoncus ut, ullamcorper eget metus.
                          </p>
                          <div class='speech-by'>
                            John Doe, Dundler Mufflin
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="span6">
                    <h3 class="section-header">How It Works</h3>
                    <div class="accordion" id="accordion">
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">
                            Choose a pickup or eat-in deal
                          </a>
                        </div>
                        <div class="accordion-body collapse in" id="collapseOne">
                          <div class="accordion-inner">
                            Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus. Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac nibh.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                            Pay 10% to confirm your deal
                          </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseTwo">
                          <div class="accordion-inner">
                            Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus. Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac nibh.
                          </div>
                        </div>
                      </div>
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                            Get free SMS/ App notification and enjoy your meal
                          </a>
                        </div>
                        <div class="accordion-body collapse" id="collapseThree">
                          <div class="accordion-inner">
                            Cras lacinia laoreet libero et mattis. In facilisis neque id lectus hendrerit in dignissim orci rhoncus. Etiam lacinia, mauris sed sagittis laoreet, sapien erat consectetur enim, eget sagittis orci magna at dolor. Donec semper tellus vitae massa laoreet congue. In id elit in turpis fermentum bibendum eget ac nibh.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <section class='section-wrapper stripped'>
              <div class='container'>
                <div class='row clients-w'>
                  <div class='span12'>
                    <h3 class='section-header'>Some of the best restaurants in Australia work with us</h3>
                  </div>
                  <div class="row-fluid">
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-1" src="/assets/test-square.png" />
                    </div>
                  </div>
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-2" src="/assets/test-square.png" />
                    </div>
                  </div>
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-3" src="/assets/test-square.png" />
                    </div>
                  </div>
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-4" src="/assets/test-square.png" />
                    </div>
                  </div>
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-5" src="/assets/test-square.png" />
                    </div>
                  </div>
                  <div class='span2'>
                    <div class='white-card'>
                      <img alt="Client-6" src="/assets/test-square.png" />
                    </div>
                  </div>
                 </div>
                </div>
              </div>
            </section>

            <section class="section-wrapper stripped">
               <div class='container-fluid'>
              <div class='row-fluid'>
                  <div class="span6 well offset3">
                    <div class="section-action">
                      <div>
                        <h2>So if you're hungry right now..</h2>
                        <img class="pull-right" src="/assets/chef.png">
                        <ul class="no-bullets">
                          <li><i class='icon-check'></i>Only pay 10% of the deal price now, pay the rest later</li>
                          <li><i class='icon-check'></i>Get your favourite food at a great bargain price</li>
                          <li><i class="icon-check"></i>Instant SMS notifications</li>
                          <li><i class="icon-check"></i>100% peace of mind - if you don't get your food, you'll have your money back.
                          </li>



                        </ul>
                      </div>
                      <a href="#" class="btn btn-warning btn-large">See deals in your area</a>
                    </div>
                  </div>
                </div>
            </section>

