                            <div class='container'>

                                              <h1 class='section-main-header center'>Your source for selling more & expanding your customer base</h1>
                                              <h2 class='slider-sub-header center'>Joining Save On Meals will be the best decision you take for your restaurant - ever. Find out why below.</h2>
                                              <div class='row row-separated'>
                                                <div class='span7'>
                                                  <h3 class='section-header'>Crowds Bring Crowds</h3>
                                                  <p class='section-paragraph'>While weekends are busy, restaurants are struggling with even covering their costs during the week, when customers don't turn up. Give them an incentive to visit your restaurant during these days. Crowds pull crowds, and your 20% discounted tables would bring in more people through the doors.</p>
                                                </div>
                                                <div class='span5'>
                                                  <img alt="Browser-window-2" src="assets/empty-tables.png" />
                                                </div>
                                              </div>
                                              <div class='row row-separated'>
                                                <div class='span5'>
                                                  <img alt="Browser-window-3" src="assets/always-in-control.png" />
                                                </div>
                                                <div class='span7'>
                                                  <h3 class='section-header'>You're Always In Control</h3>
                                                  <p class='section-paragraph'>We're unlike any other deal-brewing companies out there, because we're restauranteurs too. Never will a deal get out of control and hurt your business. From your dashboard, deals are activated and deactivated on the click of a button. You're always in the driving seat.</p>
                                                </div>
                                              </div>

                                                               <div class='row row-separated'>
                                                                 <div class='span7'>
                                                                  <h3 class='section-header'>Get paid directly by the customer</h3>
                                                                  <p class='section-paragraph'>Our process is so simple, its almost possible to overlook its beauty. When you sell a deal, you'll get paid by the customer over the counter, cash always in hand. We've experienced the pain of chasing money from third party service providers, and it hasn't been a smooth ride. So we changed how things have worked so far, and made things easier for you.</p>
                                                                </div>
                                                                <div class='span5'>
                                                                  <img alt="Browser-window-3" src="assets/cash-in-hand.png" />
                                                                </div>
                                                                     </div>
                                                            <div class='row row-separated'>
                                                               <div class='span5'>
                                                       <img alt="Browser-window-3" src="/assets/rules.png" />
                                                                       </div>
                                                                       <div class='span7'>
                                                     <h3 class='section-header'>Safety Rules In Place</h3>
    <p class='section-paragraph'>More than 20 years in the food industry has taught us a few lessons, and the result is a robust set of rules for every restaurant member at Save On Meals. These rules are not only for you, they're designed to protect the cusotmer interest as well. Just so you find value in the system in the long term.</p>
                                                                                </div>
                                                                                                   </div>
                                                                            <div class='row'>
                                                                                            <div class="span12">
                                                            <div class="section-action">
                                               <a href="#" class="btn btn-large">Action Button</a>
                                                                                          </div>
                                                                                </div>
                                                                                            </div>
                                                                          <div class='row row-separated'>
                                                                                               <div class='span8'>
                                                      <h3 class='section-header'>Quisque eu nisl neque.</h3>
  <p class='section-paragraph'>Integer malesuada condimentum purus, eu consectetur urna congue imperdiet. Donec convallis tempor ipsum, eget imperdiet libero iaculis eu. Sed et mi id mi hendrerit convallis et vel nibh. Sed nec mi a ligula lobortis dignissim sed malesuada sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi lacus eros, aliquam eu sagittis quis, cursus vel eros. Vivamus aliquam, erat at ultrices dapibus, ipsum metus sagittis mi, vitae convallis purus ipsum ac est.</p>
                                                                                                              </div>
                                                                                       <div class='span4'>
                                                    <img alt="Browser-window-1" src="assets/browser-window.png" />
                                                                                                             </div>
                                                                                                </div>
                                                                         <div class='row row-separated'>
                                                                                   <div class='span8'>
                             <h3 class='section-header'>Nullam mi mi, convallis id vestibulum</h3>
  <p class='section-paragraph'>Vivamus in justo non orci convallis varius a venenatis turpis. Praesent auctor, neque non tempus eleifend, dolor sapien rhoncus ligula, id aliquam erat erat eget odio. Vestibulum porttitor vestibulum lacus, ac auctor mauris lacinia ac. Donec a massa purus, et vehicula eros. Proin gravida, purus feugiat semper ornare, justo dolor venenatis augue, non convallis nisi massa eget diam. Vivamus luctus commodo elementum.</p>
                                                                                                                                    </div>
                                                                                                                                    <div class='span4'>
                                                                                                                                      <img alt="Browser-window-3" src="assets/browser-window.png" />
                                                                                                                                </div>
                                                                                                                                  </div>
                                                                                                    <div class='row'>
                                                                                              <div class='span12'>
                                                                  <h3 class='section-header'>Our Team</h3>
                                                                                                           </div>
                                                                                  <div class='span3'>
                                                                                        <div class='white-card'>
                                                                                      <div class="img-w">
                                                            <img alt="Photo-card" src="assets/test-user.png">
                                                                                          </div>
                                                                              <h5>Frank Lampard.</h5>
           <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
                                                                                                        </div>
                                                                                                              </div>
                                                                                             <div class='span3'>
                                                                                        <div class='white-card'>
                                                                                       <div class="img-w">
                                                                <img alt="Photo-card" src="assets/test-user.png">
                                                                                                </div>
                                                                                     <h5>Fernando Torres.</h5>
        <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
                                                                                                         </div>
                                                                                                 </div>
                                                                                              <div class='span3'>
                                                                                         <div class='white-card'>
                                                                                               <div class="img-w">
                                                                      <img alt="Photo-card" src="assets/test-user.png">
                                                                                                         </div>
                                                                                                  <h5>Leo Messi.</h5>
            <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
                                                                                                       </div>
                                                                                                         </div>
                                                                                                    <div class='span3'>
                                                                                               <div class='white-card'>
                                                                                            <div class="img-w">
                                                                      <img alt="Photo-card" src="assets/test-user.png">
                                                                                                    </div>
                                                                                       <h5>David Villa.</h5>
         <p>Cras metus elit, consectetur sed congue vel, sollicitudin eget odio. Cras lacinia laoreet libero et mattis.</p>
                                                                                               </div>
                                                                                          </div>
                                                                                         </div>
                                                                               <div class='row'>
                                                                                           <div class="span12">
                                                                                <div class="section-action">
                                                   <a href="#" class="btn btn-warning btn-large">Action Button</a>
                                                                                                             </div>
                                                                                                      </div>
                                                                               </div>
                                                                                                  </div>
                                        
