<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
          </style>
            <script type="text/javascript"
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1R2yTaOIMn11b7PMqF62VkD9VTgnwOs&sensor=true">
                    </script>
                          <script type="text/javascript">
                            function initialize() {
                                      var mapOptions = {
                                                  center: new google.maps.LatLng(-34.397, 150.644),
                                                            zoom: 8,
                                                                      mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                              };
                                                                                      var map = new google.maps.Map(document.getElementById("map_canvas"),
                                                                                                  mapOptions);
                                                                                                        }
                                                                                                            </script>
                                                                                                              </head>
                                                                                                                <body onload="initialize()">
                                                                                                                    <div id="map_canvas" style="width:500px; height:500px"></div>
                                                                                                                      </body>
                                                                                                                      </html>
