<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO1R2yTaOIMn11b7PMqF62VkD9VTgnwOs&sensor=false"></script>


     <% @deal="deal" + @dealorder.id %>
     <% @about="about" + @dealorder.id %>
     <% @location="locaion"+ @dealorder.id %>
     <% @other="other" + @dealorder.id %>

     <ul class="nav nav-tabs" id="mytab">
       <li class="active"><a data-toggle="tab" href="#<%= @deal %>" class="dea">Deal Details</a></li>
       <li><a data-toggle="tab" href="#<%= @about %>" >About</a></li>
       <li><a id="<%="loc" + @dealorder.id  %>" data-toggle="tab" href="#<%= @location %>" >Location</a></li>
       <li><a data-toggle="tab" href="#<%= @other %>" >Other</a></li>
    </ul>

   <div class="tab-content">
       <div class="tab-pane active" id=<%= @deal %>>
            <div class= "row-fluid">
               <div class= "span8" style="border: 1px solid black; border-radius: 10px;">
                 <h4>
                    By : <%= @dealorder.owner.restaurant_name%><br>
                       <% @dealorder.menuitems.size.times do |ms| %>
                        <%= @dealorder.menuitems[ms].name%><br>
                        <%= @dealorder.menuitems[ms].price%><br>
                       <% end %>
                 </h4>
               </div>
              <div class= "span4" style="border: 1px solid black; border-radius: 10px;">
                 <h4> <%= @dealorder.price %></h4>
                 <% if @dealorder.table == 1 %>
                   Table order <br>
                 <% end %>
                 <% if @dealorder.home == 1 %>
                   Home Delivery<br>
                 <% end %>
                 <% if @dealorder.pick %>
                   Take away<br>
                 <% end %>
               </div>
          </div>
       </div>
       <div class="tab-pane" id=<%= @about %>>
         <h3> <%= @dealorder.owner.about %></h3>

       </div>
       <div class="tab-pane" id=<%= @location %>> 
         <% @map="map_canvas"+@dealorder.id %>
         <div id="<%= @map %>" class='map' style="width:800px; height:200px"></div>


       </div>
      <div class="tab-pane" id=<%= @other %>><h3>other text goes here</h3></div>
  </div>
  <% if user_signed_in? %>

  <h4> Your confirmation code is <%= @con %> </h4>

      Welcome back to dealchef! <%= current_user.email %>
    Here's the list of deals you already have:
    <% Deal.where(:user_id => current_user.id).each do |deal| %>
        <br />
        <br />
       Deal :
       <% deal.menuitems.each do |item| %>
          <%= item.name %> <%= item.size %> <%= item.price %>
       <% end %>
    <% end %>
  <% else %>
       <h3>      Already a Registered User, Sign in Here!<h3>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

        <br />

        <h3>        Register your account on DealChef!</h3>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :name %>
  <%= f.text_field :name %></div>

  <div><%= f.label :mobile_number %>
  <%= f.text_field :mobile_number %></div>



  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

        <br />
<% end %>
        <script>
              var map=[];
                  <% @deal="deal" + @dealorder.id %>
                  <% @about="about" + @dealorder.id %>
                  <% @location="locaion"+ @dealorder.id %>
                  <% @other="other" + @dealorder.id %>
                 $(function () {
                        $('#mytab a[href="#<%= @about %>"]').tab('show');
                        $('#mytab a[href="#<%= @location %>"]').tab('show');
                        $('#mytab a[href="#<%= @other %>"]').tab('show');
                        $('#mytab a[href="#<%= @deal %>"]').tab('show');
                 });


            $(document).ready(function initialize() {
               var mapOptions = {
                      center: new google.maps.LatLng(-31 , 151),
                      zoom: 20,
                      mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                   <%@lat=@dealorder.owner.coordinates[0]  %>
                   <% @long=@dealorder.owner.coordinates[1] %>
                   <% @location="loc" + @dealorder.id %>
                   <% @map="map_canvas"+@dealorder.id %>


                  $('<%="#"+ @location  %>').click(function (){
                    map['<%= @dealorder.id %>'] = new google.maps.Map(document.getElementById('<%= @map %>'), mapOptions);
                    map['<%= @dealorder.id %>'].setCenter(new google.maps.LatLng(<%= @long %> , <%= @lat %>));
                    var marker=new google.maps.Marker({
                       position:new google.maps.LatLng(<%= @long %> , <%= @lat %>),
                    });

                   marker.setMap(map['<%= @dealorder.id %>']); 
                   });
            });




                </script>















































