


<h1>Listing menuitems</h1>

                   <div class= "row-fluid" style="border: 1px solid black; border-radius: 10px;">


<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @menuitems.each do |menuitem| %>
  <tr>
    <td><%= menuitem.name %></td> 
    <td><%= menuitem.size %></td>
    <td><%= menuitem.price %></td> <td>
    <td><%= link_to 'Edit', edit_menuitem_path(menuitem) %></td>
    <td><%= link_to 'Destroy', menuitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Menuitem', new_menuitem_path %>





                   </div>







