<p id="notice"><%= notice %></p>

   <table>
  <tbody>
  <tr>
  <th>Name </th>

  <th>Size </th>

  <th>Price </th>
</tr>
  <tr>
   
   
    <td> <%= @menuitem.name %></td>

    <td><%= @menuitem.size %></td>
    <td><%= @menuitem.price %></td>
  </tr>
  </tbody>
</table>
<%= link_to 'Edit', edit_menuitem_path(@menuitem) %> |
<%= link_to 'Back', menuitems_path %>




