<script type="text/javascript">
    document.write("\<script src='http://code.jquery.com/jquery-latest.min.js' type='text/javascript'>\<\/script>");
</script>



<%= form_for(@deal) do |f| %>
  <% if @deal.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this deal from being saved: </h2>

       <ul>
        <% @deal.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
        <% end %>
       </ul>
     </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <div >
   <% @deal.menuitems.each do |menuitem| %>
     <% did=@deal.id %>
     <button type="button" id="<%= did.to_s + "_" + menuitem.id.to_s %>" onclick="postid(this.id);" class="btn-primary">  Delete <%= menuitem.name %> <br>
   <% end %>
  </div>
  <div class="span7">
   <table>
    <% @menuitems.each do |menuitem| %>

     <tr>
       <td><%= menuitem.name %></td> 
       <td><%= menuitem.size %></td>
       <td><%= menuitem.price %></td> <td>
         <% menuitemall = menuitem.name + "_" + menuitem.size + "_" + menuitem.price + "_" + menuitem.id %>
         <label class="checkbox">
         <input type="checkbox" id=<%=menuitemall%> onclick="deal(this.id);" >
     </tr>
    <% end %>
   </table>
  </div>



       <div class="span4">


                   <div class="row-fluid" id="rp">
                   </div>
                   <div class="row-fluid">
                       <input id="price1" type="text" placeholder="Set Price"> <br>
                  </div>

                  <div class="row-fluid">
                     <br>  <button type="button" id='<%= @deal.id %>' onclick="postarray(this.id);" class="btn-primary">Configure Deal</button>
                 </div>
      </div>




<% end %>

<script>
 var createdeal=[];
 var sum=[];
 var total=0;

 function postid(mid){
   console.log(window.location.origin);
   dealid= mid.split("_")[0]
   miid= mid.split("_")[1]
   console.log(dealid);
   $.ajax({
     type:"GET",
     data:{ mid: miid },
     url:   window.location.orgin ,
     success: function(){alert: "asdf", window.location= window.location.origin + "/deals/" + dealid + "/edit"; }
     });
 }

   function remove(id)
    {
        return (elem=document.getElementById(id)).parentNode.removeChild(elem);
    }





    function deal(mi){
      var name = mi.split("_")[0];
      var size = mi.split("_")[1];
      var price= mi.split("_")[2];
      var id = mi.split("_")[3];
      var elem = $("#"+name+size+price);

       if (elem.text() == "")
         {
           $('#mis').append("<div id='"+name+size+price+"'>"+ name + " " + price  +"</div>");
           createdeal.push(id);
           sum.push(price)
           console.log(createdeal);
           dp= document.getElementById('deal_price').value;

           total=  (eval(sum.join('+')));
           dp= document.getElementById('deal_price').value;
           dp=parseFloat(dp);
           total= total + dp;
           console.log(total);
           document.getElementById('rp').innerHTML="<br><br><p>Retail Price  " + total + " $</p>";
        }


      else
        {
          remove(name+size+price);
          var indx = createdeal.indexOf(id);
          var indx1= sum.indexOf(price)
          createdeal.splice(indx,1);
          sum.splice(indx1,1);
          total=  (eval(sum.join('+')));
          dp= document.getElementById('deal_price').value;
          dp=parseFloat(dp);
          total= total + dp;

          document.getElementById('rp').innerHTML="<br><br><p>Retail Price  " + total + " $</p>";
          console.log(createdeal);}
        }

      function postarray(dealid)
        {
           var price= $('#price1').val();
          console.log(price);
          $.ajax({type: "get",
            data:{createdeal: createdeal, did: dealid, price: price},
            url: window.location.origin + "/mid_edit"   ,
            success: function(){ window.location= window.location.origin + "/deals/" + dealid + "/edit" ; }
          });
        }



</script>

