<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQfDC9PzdmI4M2QIN7wjSZzKiwbCyjqdI&sensor=false"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"> </script>


<h1>What would you like today? </h1>
   <%= form_tag '/', :method => 'get' do %>
     <br>
     I'd like: <input placeholder="italian, thai, mexican etc" autocomplete="off" type="text" name="type" data-provide="typeahead" data-source='<%= Deal.all.collect(&:type).uniq! %>'>    in: <input placeholder="Your Postcode" autocomplete="off" type="text" name="postcode" data-provide="typeahead" data-source='<%= Deal.all.collect(&:postcode).uniq! %>'>
     <%= submit_tag "Filter deals" %>
  <% end %>


  <% @filter.each do |available| %>

    <ul class="nav nav-tabs" id="mytab">
      <li class="active"><a data-toggle="tabs" href="#deal" >Deal Details</a></li>
      <li><a data-toggle="tabs" href="#about" >About</a></li>
      <li><a data-toggle="tabs" href="#location" >Location</a></li>
      <li><a data-toggle="tabs" href="#other" >Other</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="deal">
          <div class= "row-fluid">
            <div class= "span8" style="border: 1px solid black; border-radius: 10px;">
              <h4>
                  By : <%= available.owner.res_name%><br>
                     <% available.menuitems.size.times do |ms| %>
                     <%= available.menuitems[ms].name%><br>
                     <%= available.menuitems[ms].price%><br>
                <% end %>
              </h4>
            </div>
            <div class= "span4" style="border: 1px solid black; border-radius: 10px;">
                <h4> <%= available.price %></h4>
                  <%= form_tag 'userdeals', :method=> 'get' do %>
                    <%= submit_tag "getdeal", :name=>"get[#{available.id}]" %>
                  <% end %>
            </div>
          </div>
       </div>
       <div class="tab-pane" id="about"></div>
       <div class="tab-pane" id="location"> asdf </div>
       <div class="tab-pane" id="other"></div>
     </div>

         <% end %>
                <script>
               $(function () {
                 $('#mytab a[href="#deal"]').tab('show');
                 $('#mytab a[href="#about"]').tab('show');
                 $('#mytab a[href="#location"]').tab('show');
                 $('#mytab a[href="#other"]').tab('show');
               })





                </script>



