
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Type</th>
    <th>Postcode</th>
    <th>Price</th>
    <th>Location</th>
    <th>Menu Items</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @ldeals=@deals.where(:launched=> 1) %>

  <h3>
    Unlaunched Deals
  </h3>

<% @ldeals.each do |deal| %>
  <tr>
    <td><%= deal.type %></td>
    <td><%= deal.postcode %></td>
    <td><%= deal.price %></td>
    <td><%= deal.location %></td>
    <td> <% deal.menuitems.each do |menuitem| %>
           <%= menuitem.name  %>   <%= menuitem.size %>
       <br> <% end %></td>


    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<table class="table table-striped table-hover table-bordered">
  <tr>
    <th>Type</th>
    <th>Postcode</th>
    <th>Price</th>
    <th>Location</th>
    <th>Menu Items</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @uldeals=@deals.where(:launched=> nil) %>
  <h3>
    Unlaunched Deals 
  </h3>
<% @uldeals.each do |deal| %>
  <tr>
    <td><%= deal.type %></td>
    <td><%= deal.postcode %></td>
    <td><%= deal.price %></td>
    <td><%= deal.location %></td>
    <td> <% deal.menuitems.each do |menuitem| %><br>
   <%= menuitem.name  %>   <%= menuitem.size %>
 <% end %></td>

    <td><%= link_to 'Show', deal %></td>
    <td><%= link_to 'Edit', edit_deal_path(deal) %></td>
    <td><%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td> <%= form_tag '/newdeal/launched', :method=>'post' do %>
        <%= submit_tag 'launch', :name => "launch[#{deal.id}]" %>
      <% end %>

  </tr>
<% end %>
</table>

<%= button_to "New Deal", new_deal_path, :class=> "btn btn-primary btn-large", :method => :get  %>
<%= link_to 'New Deal', new_deal_path %>
