<h1> DEAL </h1>

<button type="button" onclick="launchdeal();" class="btn-primary">Launch Deal </button>







<script>
function launchdeal()
{ $.ajax({type:"POST",
          url: window.location.origin + "/newdeal/launched",
          success: function(){alert("Deal was successfully launched!");}
         })
}
</script>
