

<h1>New deal</h1>

          <div class= "row-fluid">
               <div class= "span8" style="border: 1px solid black; border-radius: 10px;">


                  <table class="table table-bordered table-hover">
                       <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Price</th>
                       </tr>

                    <% @menuitems.each do |menuitem| %>
                      <tr>
                        <td><%= menuitem.name %></td> 
                        <td><%= menuitem.size %></td>
                        <td><%= menuitem.price %></td> <td>
                          <% menuitemall = menuitem.name + "_" + menuitem.size + "_" + menuitem.price + "_" + menuitem.id %>
                         <label class="checkbox">
                         <input type="checkbox" id=<%=menuitemall%> onclick="deal(this.id);" >
                      </tr>
                    <% end %>
                  </table>

<br />

                    <%= button_to 'New Menuitem', new_menuitem_path, :method => :get, :class => "btn btn-primary" %>





              </div>

              <div class="span3">
                   <div class="row-fluid">
                     <input id="dname" type="text" placeholder="Name"><br>
                     Table booking <input id="table" type="checkbox" onclick="options(this.id);"><br>
                     Home delivery <input id="home" type="checkbox" onclick="options(this.id);"><br>
                     Take away <input id="pick" type="checkbox" onclick="options(this.id);">
                  </div>

                   <div class="row_fluid" id="mis">Deal Preview<br>

                     <br>
                     Name Price <br>


                  </div>
                  <div class="row-fluid" id="rp">
                  </div>
                  <div class="row-fluid">
                    <input id="price" type="text" placeholder="Set Price"> <br>
                  </div>
                  <div class="row-fluid">
                     <br>  <button type="button" onclick="postarray();" class="btn-primary">Configure Deal</button>
                  </div>
             </div>

  <script>
   var createdeal=[];
   var sum=[];
   var total=0;
   var opt=[]
        function remove(id)
    {
        return (elem=document.getElementById(id)).parentNode.removeChild(elem);
    }

    function options(di){
        opt.push(di)
    }

     function deal(mi){
      var name = mi.split("_")[0];
      var size = mi.split("_")[1];
      var price= mi.split("_")[2];
      var id = mi.split("_")[3];
      var elem = $("#"+name+size+price);

      if (elem.text() == "")
        {
          $('#mis').append("<div id='"+name+size+price+"'>"+ name + " " + price  +"</div>");
          createdeal.push(id);
          sum.push(price)
          console.log(createdeal);
          total=  (eval(sum.join('+')));
          document.getElementById('rp').innerHTML="<br><br><p>Retail Price  " + total + " $</p>";
        }


      else
        {
          remove(name+size+price);
          var indx = createdeal.indexOf(id);
          var indx1= sum.indexOf(price)
          createdeal.splice(indx,1);
          sum.splice(indx1,1);
           total=  (eval(sum.join('+')));
           document.getElementById('rp').innerHTML="<br><br><p>Retail Price  " + total + " $</p>";
          }
        }

      function postarray()
        {  var name = $('#dname').val();
           var price= $('#price').val();
          $.ajax({type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data:{createdeal: createdeal, options: opt, name: name , price: price},
            url: window.location.origin + "/deals/create.html",
            success: function(response){ window.location.href = $.parseJSON(response)["id"];  }
          });
        }
  </script>
