 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
 <script type="text/javascript">
     google.load("visualization", "1", {packages:["corechart"]});
     google.setOnLoadCallback(drawChart);
     function drawChart() {
         var data = google.visualization.arrayToDataTable([
           ['Month', 'Deals Launched'],
           ['January', <%=@dealowner.where(:month=> 1).size%>],
           ['Feburary',<%=@dealowner.where(:month=> 2).size%>],
           ['March', <%=@dealowner.where(:month=> 3).size%>],
           ['April', <%=@dealowner.where(:month=> 4).size%>]
         ]);

          var options = {
          title: 'Deal Performance'
          };

         var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
         chart.draw(data, options);
     }
     
     google.setOnLoadCallback(drawCharts);
     function drawCharts() {
     <% @owner.deals.each do |deal| %>
         var data1 = google.visualization.arrayToDataTable([
           ['Month', 'Deals Sold'],
           ['January', <%=deal.sales.where(:month=> 1).size%>],
           ['Feburary',<%=deal.sales.where(:month=> 2).size%>],
           ['March', <%=deal.sales.where(:month=> 3).size%>],
           ['April', <%=deal.sales.where(:month=> 4).size%>]
         ]);

          var options1 = {
          title: 'Deal Sale'
          };

         var chart = new google.visualization.LineChart(document.getElementById('<%= deal.id %>'));
                               chart.draw(data1, options1);
 
   <% end %>
     }
</script>

    <div id="chart_div" style="width: 700px; height: 300px;"></div>

<% @owner.deals.each do |deal|%>
   <h4>Deal details </h4>
   Deal name:<%= deal.name %><br>
   Deal price:<%= deal.price  %><br>
   Menu-items:
   <% deal.menuitems.each do |item| %>
      <%= item.name %>
    <% end %>

   <h4> Sale details </h4>
   <div id='<%=deal.id%>' style="width: 900px; height: 200px;"></div>
  
  
  
   Total sales: <%=deal.sales.size %><br>
    Sales ids <br>
    <table class="table table-bordered table-hover">
        <td>
       User name
        </td>
        <td>
        Confirmation Code
        </td>
    <% deal.sales.each do |sale| %>
      <tr>
        <td>
          <% @user= User.find(sale.uid) %>
          <%= @user.name%>
      </td>
      <td>
        <%= sale.confirmation_code %><br>
    </td>
      </tr>
   <% end %>
    </table>
<% end %>

