<p id="notice"><%= notice %></p>



<p>
<b>Menu Items:</b><br>
     Name                          Size                         Price  <br>
 
  <% @deal.menuitems.each do |menuitem| %><br>
   <%= menuitem.name  %>     <%= menuitem.size %>         <%= menuitem.price %> 
  <% end %>
 
 
 
 
</p>


<p>
  <b>Type:</b>
  <%= @deal.type %>
</p>


<p>
  <b>Location:</b>
  <%= @deal.location %>
</p>


<p>
  <b>Postcode:</b>
  <%= @deal.postcode %>
</p>

<p>
  <b>Price:</b>
  <%= @deal.price %>
</p>


<%= button_to 'Edit', edit_deal_path(@deal), :method => :get , :class => "btn btn-primary"%> 
<%= button_to 'Back', deals_path, :method => :get, :class => "btn btn-primary"%>
