<h2> Great Choice </h2>
<% @dealorder.menuitems.each do |items| %>
  <%= items.name %>   <%= items.size %>   <%= items.price %><br>
<% end %>
<br />
<br />
<br />
<% if user_signed_in? %>
  Welcome back to dealchef! <%= current_user.email %>
  Here's the list of deals you already have:
<% Deal.where(:user_id => current_user.id).each do |deal| %>
  <br />
  <br />
  Deal :
  <% deal.menuitems.each do |item| %>
    <%= item.name %> <%= item.size %> <%= item.price %>
  <% end %>
<% end %>
<% else %>
  <br />
  <br />
  Already a Registered User, Sign in Here!
<%= link_to "SignIn Here", "/users/sign_in" %>
  <br />
  <br />
  Register your account on DealChef!
<%= link_to "SignUp Here", "/users/sign_up" %>
<% end %>
