.whitewash {

	color: white;
}

.center {
	text-align: center;
}

.no-bullets {
	list-style: none;
	text-align: left;
	padding: 20px;
	line-height: 10px;
}

/*
.slider-header strong {
  color: #f6d446;
}
*/