<%= link_to "Family Feast", root_path, :class => 'brand' %>
<ul class="nav">
    <% if owner_signed_in? %>
        <li>
          <%= link_to 'Owner Logout', "/owner_signout" , :method=>'delete' %>
        </li>
        <li>
          <%= link_to 'Edit account', edit_owner_registration_path %>
        </li>
    <% end %>

    <% if user_signed_in? %>
        <li>
        <%= link_to 'User Logout', "/user_signout" , :method=>'delete' %>
        </li>
    <% end %>

    <% if !user_signed_in? %>
      <li>
        <%= link_to 'User Login', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'User SignUp', new_user_registration_path %>
      </li>
    <% end %>

    <% if !owner_signed_in? %>
      <li>
        <%= link_to 'Owner Login', new_owner_session_path %>
      </li>
      <li>
        <%= link_to 'Owner SignUp', new_owner_registration_path %>
      </li>
    <% end %>
  </ul>
